In [4]:
t=()
t=(1,2,3)
print(t)

(1, 2, 3)

In [6]:
t=(1,'chanu',[1,'minus',12,'aarhi']) 
print(t)

(1, 'chanu', [1, 'minus', 12, 'aarhi'])

In [9]:
t=((1,'chanu'),[1,'minus',12,'aarhi'])
print(t)

((1, 'chanu'), [1, 'minus', 12, 'aarhi'])

In [15]:
t= ('ashawanl',)     # if we use , then it will be tuple otherqise it will print string
type(t)

tuple

In [18]:
t=('shivani',)    #, i9s used to print touple
print(type(t))
print(t)

<class 'tuple'>
('shivani',)

In [20]:
t=('shivani','minu','sonju')
print([t])

[('shivani', 'minu', 'sonju')]
[1]

In [22]:
t=('shivani','minu','sonju')
print(t[1])

minu

In [23]:
print(t[-1])

sonju

In [24]:
print(t[2])

sonju

In [25]:
t=('shivani',('minu','sonju'),'rjjuuu')
print(t)

('shivani', ('minu', 'sonju'), 'rjjuuu')

In [26]:
t=(1,2,3,4,5,6)
print(t[1:4])

(2, 3, 4)

In [32]:
t=(1,2,3,4,5,6)
print(t[:-5])
print(t[:])

(1,)
(1, 2, 3, 4, 5, 6)

In [36]:
t=(1,2,3,4,5,6,[5,6,7])
   t[2]='x'     #can not inseert ,because it is immutable

IndentationError: unexpected indent (1345077404.py, line 2)

In [38]:
t=(1,2,3,[4,5,6])
t=[4][1]]=ex
print(t)

SyntaxError: unmatched ']' (1321180019.py, line 2)

In [39]:
t1=(1,2,3,4,5,6)
t2=(8,9,5,4)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 8, 9, 5, 4)

In [41]:
t=(('kg',)*4)    #reapeting element
print(t)

('kg', 'kg', 'kg', 'kg')

In [42]:
t=(1,2,3,4,5)
del(t)

In [44]:
t=(1,2,3,4,5,1,5,2,2,3,6)
t.count(2)

3

In [46]:
t=(1,2,3,4,5,1,5,2,2,3,6)
print(t.index(6))    #counting the index number

10

In [48]:
t=(1,2,3,4,5,1,5,2,2,3,6)
print(1 in t)
print(5 in t)

True
True

In [50]:
t=(1,2,3,6,8,2,4,5,1,5,2,2,3,6)
sorted_touple=sorted(t)
print(sorted_touple)

[1, 1, 2, 2, 2, 2, 3, 3, 4, 5, 5, 6, 6, 8]